{% if page.language == 'en' %}
  {% capture description %}
    {{ page.author }}'s Portfolio,
    {{ page.title }}, behavioral scientist, enthusiastic programmer and freelance drummer.
  {% endcapture %}
  {% assign content_language = 'en_US' %}
{% elsif page.language == 'pt-BR' %}
  {% capture description %}Portfólio de
    {{ page.author }},
    {{ page.title }}, cientista do comportamento, programador entusiasta e baterista freelance.
  {% endcapture %}
  {% assign content_language = 'pt_BR' %}
{% endif %}

{% capture an_image %}
  {{ site.url }}/media/rafael-picanco-portfolio.jpg
{% endcapture %}
{% capture LINK %}
  {{ site.url }}{{ page.url }}
{% endcapture %}

<!-- Head -->
<head prefix="og: https://ogp.me/ns# fb: https://ogp.me/ns/fb# profile: https://ogp.me/ns/article#">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{ description }}">
  <meta name="author" content="{{ page.author }}">

  <!-- Open Graph meta tags -->
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:type" content="profile" >
  <meta property="og:description" content="{{ description }}">
  <meta property="og:url" content="{{ LINK | remove:'index.html' }}">
  <meta property="og:image" content="{{ an_image }}">
  <meta property="og:image:width" content="850">
  <meta property="og:image:height" content="450">
  <meta property="og:locale" content="{{ content_language }}">
  <meta property="og:site_name" content="{{ page.author }}'s Portfolio">

  <!-- Facebook properties -->
  <meta property="fb:profile_id" content="1651005333">
  <meta property="fb:app_id"content="179917338701622"/>

  <!-- Twitter Card properties -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:creator" content="@crpicanco" >
  <meta name="twitter:description" content="{{ description }}">
  <meta name="twitter:image" content="{{ an_image }}">
  <meta name="twitter:image:width" content="850" >
  <meta name="twitter:image:height" content="450">

  <title>{{ page.author }}|{{ page.title }}</title>

  <link rel="image_src" href="{{ an_image }}">
  <link rel="canonical" href="{{ LINK | remove:'index.html' }}">
  <link href="/media/favicon.ico" rel="icon">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <link href="/css/portfolio.css" rel="stylesheet">

</head>
