<!-- Head -->
{% if page.language == 'en' %}
  {% capture description %}
    {{ page.author }}'s Portfolio,
    {{ page.title }}, behavioral scientist, enthusiastic programmer and freelance drummer.
  {% endcapture %}
{% elsif page.language == 'pt-BR' %}
  {% capture description %}Portfólio de
    {{ page.author }},
    {{ page.title }}, cientista do comportamento, programador entusiasta e baterista freelance.
  {% endcapture %}
{% endif %}

{% capture an_image %}
  {{ site.url }}/media/rafael-picanco-portfolio.png
{% endcapture %}
{% capture LINK %}
  {{ site.url }}{{ page.url }}
{% endcapture %}

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# profile: http://ogp.me/ns/article#">
  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta name="description" content="{{ description }}">
  <meta name="author" content="{{ page.author }}">

  <!-- Open Graph meta tags -->
  <meta property="og:title" content="{{ page.title }}">
  <meta content="profile" property="og:type">
  <meta property="og:description" content="{{ description }}">
  <meta property="og:url" content="{{ LINK | remove:'index.html' }}">
  <meta property="og:image" content="{{ an_image }}">
  <meta content="850" property="og:image:width">
  <meta content="450" property="og:image:height">
  {% if page.language == 'en' %}
    <meta content="en_US" property="og:locale">
  {% elsif page.language == 'pt-BR' %}
    <meta content="pt_BR" property="og:locale">
  {% endif %}
  <meta property="og:site_name" content="{{ page.author }}'s Portfolio">
  <meta content="1651005333" property="fb:profile_id">
  <meta content="302184056577324" property="fb:app_id"/>

  <!-- Twitter Card properties -->
  <meta content="summary_large_image" name="twitter:card">
  <meta name="twitter:title" content="{{ page.title }}">
  <meta content="@crpicanco" name="twitter:creator">
  <meta name="twitter:description" content="{{ description }}">
  <meta name="twitter:image" content="{{ an_image }}">
  <meta content="850" name="twitter:image:width">
  <meta content="450" name="twitter:image:height">

  <title>{{ page.author }}
    |
    {{ page.title }}</title>

  <link rel="image_src" href="{{ an_image }}">
  <link rel="canonical" href="{{ LINK | remove:'index.html' }}">
  <link href="/media/favicon.ico" rel="icon">

  <!-- Bootstrap core CSS -->
      <!-- Custom styles for Starter template -->
      <!-- Custom styles for the Stick Footer template -->
      <!-- Custom fonts -->
      <!-- Custom styles -->
  {% if page.title == 'Achievements' or page.title == 'Conquistas' %}
    <link href="/css/portfolio-styles-achievements.concat.css" rel="stylesheet">
  {% else %}
    <link href="/css/portfolio-styles.concat.css" rel="stylesheet">
  {% endif %}

  {% if page.title == 'Serviços' or page.title == 'Services' %}
    <link href="/css/services.css" rel="stylesheet">
  {% endif %}

  <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" rel="stylesheet">

  <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
      <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
      <!--<script src="../js/ie-emulation-modes-warning.js"></script>-->
  
      <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
