{% case page.language %}

  {% when 'en' %}
    {% assign toggle = 'More' %}
    {% assign about = 'About me' %}
    {% assign lattes = 'CV' %}
    {% assign label = 'Timeline' %}

  {% when 'pt-BR' %}
    {% assign toggle = 'Ver mais' %}
    {% assign about = 'Sobre mim' %}
    {% assign lattes = 'Lattes' %}
    {% assign label = 'Linha do Tempo' %}
{% endcase %}

{% assign intro = site.data.intros.filtering[page.language] %}

<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="https://blog.rafael.picanco.nom.br/pt-br/about/">&middot;&#32;{{ about }}</a>
    <div id="filter-container" class="btn-group">
      <button class="btn btn-outline-primary dropdown-toggle text-white" type="button" id="defaultDropdown" data-bs-toggle="dropdown" data-bs-auto-close="true" aria-expanded="false">
        {{ label }}
      </button>
      <svg class="float" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="-25 -25 250 250">
        <defs>
        <linearGradient id="lgrad" x1="100%" y1="100%" x2="0%" y2="0%" >
          <stop offset="0%" style="stop-color:#0c8eb2;stop-opacity:1.00" />
          <stop offset="100%" style="stop-color:#153038;stop-opacity:1.00" />
        </linearGradient>
        </defs>
        <!-- <path d="M130.3859722682716 4.7283216831369685 C102.65556702880701 -10.014990004081643 30.409845084647444 23.878420620662617 13.281009295636267 50.20224250815629 C-1.3873159445720837 72.74471916957583 -0.19737679714679146 138.14018077344815 18.299996319261822 157.66376157143554 C44.26100798000359 185.06505285567562 143.51458848893742 201.10718970142352 168.52238027172552 172.83325752633232 C197.07301012345232 140.55377523555887 168.4365106034311 24.95849652902564 130.3859722682716 4.7283216831369685Z" stroke="none" fill="url(#lgrad)"  /> -->
        <circle cx="40%" cy="40%" r="50%" fill="url('#lgrad')"/>
      </svg>
      <ul class="dropdown-menu bg-dark" aria-labelledby="defaultDropdown">
        <section class="d-flex justify-content-center text-white">
          <div class="btn-group-vertical" role="group" aria-label="Filtering group" id="filter-container">
            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" onchange="filterSelection('all')" checked>
            <label class="btn btn-primary d-flex justify-content-center" for="btnradio1">{{ intro.all }}</label>

            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" onchange="filterSelection('software')">
            <label class="btn btn-primary d-flex justify-content-center" for="btnradio2">{{ intro.software }}</label>

            <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off" onchange="filterSelection('project')" >
            <label class="btn btn-primary d-flex justify-content-center" for="btnradio3">{{ intro.project }}</label>

            <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off" onchange="filterSelection('achievement')">
            <label class="btn btn-primary d-flex justify-content-center" for="btnradio4">{{ intro.achievement }}</label>

            <input type="radio" class="btn-check" name="btnradio" id="btnradio5" autocomplete="off" onchange="filterSelection('publication')">
            <label class="btn btn-primary d-flex justify-content-center" for="btnradio5">{{ intro.publication }}</label>
          </div>
        </section>
      </ul>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label={{ toggle }}>
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarToggle">
      <div class="bg-dark p-4">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="https://blog.rafael.picanco.nom.br/{{ page.language | downcase }}/">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://lattes.cnpq.br/9925169248427338">{{ lattes }}</a></li>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>