{% assign intro = site.data.intros.publications[page.language] %}
{% assign card = include.card[page.language] %}

<li class="filter-item {{ include.card.category }}">
  <section id="section-{{ include.filename }}">
  {% case include.card.category %}

    {% when 'achievement' %}
      
      <div class="achievements ac-size-2x {{ card.icon }}">
        <p class="achievements-title">{{ card.title }}</p>
        <p>{{ card.subtitle }}</p>
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">{{ card.header }}</h4>
          <p>
            <small class="text-muted">
              <i class="far fa-clock"></i>
              {{ card.date-string }}</small>
          </p>
        </div>
        <div class="timeline-body">
          {{ card.description | markdownify  }}
          {% if card.element_content != null %}
            <hr>
            {% include dropdown_button.html id=include.filename content=card.element_content %} 
          {% endif %}
          
          {% if card.reference != null %}
            <hr>
            {{ card.reference }}
          {% endif %} 
        </div>
      </div>

    {% when 'project' %}

    <div class="timeline-badge">
      <i class="fas fa-check"></i>
    </div>
    <img src="{{ card.image }}" alt="{{ card.title }}" style="width: 200px; height: 200px;">
    <div class="card" style="max-width: 600px">
      <div class="card-body">
      <h4 class="card-title">{{ card.title }}</h4>
      <p class="text-muted">
        <i class="far fa-clock">
          {{ card.date-string }}
        </i>    
      </p>
      <p class="card-text">{{ card.description }}</p>
    
      {% if card.element_content != null %}
        {% include dropdown_button.html id=include.filename content=card.element_content %} 
      {% endif %} 
      {% if card.reference != null %}
        {{ card.reference }}
      {% endif %}

    </div>

    {% when 'software' %}
      <div class="timeline-badge">
        <i class="fas fa-check"></i>
      </div>
      <img src="{{ card.image }}" alt="{{ card.title }}" style="width: 200px; height: 200px;">
      <div class="card" style="max-width: 600px">
        <div class="card-body">
        <h4 class="card-title">{{ card.title }}</h4>
        <p class="text-muted">
          <i class="far fa-clock">
            {{ card.date-string }}
          </i>    
        </p>
        <p class="card-text">{{ card.description }}</p>
      
        {% if card.element_content != null %}
          {% include dropdown_button.html id=include.filename content=card.element_content %} 
        {% endif %} 
        {% if card.reference != null %}
          {{ card.reference }}
        {% endif %}
      </div>

    {% when 'publication' %}
      <!-- 'article-journal', 'book-chapter', 'bachelor-thesis', 'master-thesis', 'doctoral-thesis' -->
        <div class="timeline-badge">
            <i class="fas fa-check"></i>
        </div>
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">{{ card.title }}</h4>
          </div>
          <div class="card-body">
            <blockquote>
              <div class="self-font" >
                <p class="card-text">
                  {{ card.html | replace: '..','.' | replace: '  ',' '}}
                </p>
              </div>
              <hr>
              {% if include.card.doi != null %}
                <div class='altmetric-embed' data-badge-type='donut' data-condensed='true' data-badge-details='right' data-doi='{{ include.card.doi }}'></div>
              {% endif %}
              <br>
              <footer class="blockquote-footer">
                <cite><a href="{{ include.card.url }}">{{ intro.url }}</a></cite>  
              </footer>
            </blockquote>
          </div>
        </div>

  {% endcase %} <!-- card.category -->
  </section>
</li>