body
  background-color: #153038

.self-color
  background-color: #153038

.self-active
  background-color: #0e1f24

.self-font
  line-height: 1.7
  text-indent: -3em
  padding-left: 3em

.self-margin-top
  height: 100%
  padding-top: 15em
  padding-bottom: 10em

.self-margin-end
  height: 100%
  padding-top: 8em
  padding-bottom: 3em

.section-top, .section-end
  height: 100%
  padding-top: 3.5em
  padding-bottom: 10em

.section-end
  padding-bottom: 3em

span
  &.fa-stack
    color: #071f26
    &:hover
      color: #235c6e

footer > p
  color: #96b5be

  & > a
    color: #447483
    text-decoration: none